<a href="https://colab.research.google.com/github/hankapy/Data-analytiikkaa-Pythonilla/blob/main/Kopio_pivot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from datetime import datetime
print(f'Päivitetty {datetime.now().date()} / Aki Taanila')

Päivitetty 2023-12-11 / Aki Taanila

In [ ]:
# Yhdistäminen Google driveen
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/MyDrive/data

Mounted at /gdrive
/gdrive/MyDrive/data

# Pivot-taulukot

Pivot-taulukoita luon **pivot_table**-funktiolla. Keskeisiä parametreja ovat

* **values** - laskettavat muuttujat
* **index** - rivimuuttujat
* **columns** - sarakemuuttujat
* **aggfunc** - arvojen laskentamenetelmät (oletuksena pivot-taulukkoon lasketaan keskiarvoja)


Jos lasket pelkästään lukumääriä ja/tai prosentteja, niin pivot_table-funktion sijasta kannattaa käyttää **crosstab**-funktiota, joka laskee oletuksena lukumääriä.

In [ ]:
import pandas as pd

In [ ]:
# Esimerkkidatana pienoismallien valmistajan saamia tilauksia
df = pd.read_excel('pienoismallit.xlsx')
df

,NRO,KAPPALEMÄÄRÄ,YKSIKKÖHINTA,HINTA,VUOSI,TUOTELINJA,TUOTENUMERO,MAA,TILAUKSEN_KOKO
0,1,30,95.70,2871.00,2018,Moottoripyörät,S10_1678,USA,Pieni
1,2,34,81.35,2765.90,2018,Moottoripyörät,S10_1678,France,Pieni
2,3,41,94.74,3884.34,2018,Moottoripyörät,S10_1678,France,Keskikoko
3,4,45,83.26,3746.70,2018,Moottoripyörät,S10_1678,USA,Keskikoko
4,5,49,100.00,5205.27,2018,Moottoripyörät,S10_1678,USA,Keskikoko
...,...,...,...,...,...,...,...,...,...
2818,2819,20,100.00,2244.40,2019,Laivat,S72_3212,Spain,Pieni
2819,2820,29,100.00,3978.51,2020,Laivat,S72_3212,Finland,Keskikoko
2820,2821,43,100.00,5417.57,2020,Laivat,S72_3212,Spain,Keskikoko
2821,2822,34,62.24,2116.16,2020,Laivat,S72_3212,France,Pieni
2822,2823,47,65.52,3079.44,2020,Laivat,S72_3212,USA,Keskikoko

In [ ]:
# Tilausten keskiarvohinta eri vuosina (oletuksena lasketaan keskiarvo)
df.pivot_table(values='HINTA', index='VUOSI').style.format(precision=0)

In [ ]:
# Tilausten hinta yhteensä (sum) tuotelinjan mukaan
df.pivot_table(values='HINTA', index='TUOTELINJA', aggfunc=sum)\
                     .sort_values(by='HINTA', ascending=False).style.format(precision=0)

In [ ]:
# Tilausten keskiarvohinta eri vuosina tuotelinjan mukaan
df.pivot_table(values='HINTA', index='TUOTELINJA', columns='VUOSI')\
                                  .style.format(precision=0)\
                                  .background_gradient(cmap='Reds', axis=None)

In [ ]:
# Tilausten sisältämien kappalemäärien keskiarvo maan ja tuotelinjan mukaan
# Kunkin sarakkeen suurin ja pienin arvo korostettu
df.pivot_table(values='KAPPALEMÄÄRÄ', index='MAA', columns='TUOTELINJA').style.format(precision=0, na_rep='-')\
                                                                   .highlight_max(color='lightgreen', axis=0)\
                                                                   .highlight_min(color='pink', axis=0)

In [ ]:
# Tilausten hinnan keskiarvo, summa ja tilausten lukumäärä tuotelinjan mukaan
df1 = df.pivot_table(values='HINTA', index='TUOTELINJA', aggfunc=['mean', sum, len])

# Sarakeotsikot
df1.columns = ['Keskiarvo', 'Yhteensä', 'Lukumäärä']

df1.style.format(precision=0).background_gradient(cmap='Reds', axis=0)

In [ ]:
# Tunnuslukuja vuoden ja tuotelinjan mukaan
df.pivot_table(values='HINTA', index=['VUOSI', 'TUOTELINJA'], aggfunc=[min, 'median', max])\
                                                                  .style.format(precision=0)

## Lisätietoa

* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html

Data-analytiikka Pythonilla https://tilastoapu.wordpress.com/python/